@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

/*Cabeçalho*/
header {
    background-color: #2d3436;
    color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 9;
}
#Menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 0px;
}
li {
    float: left;
    padding: 20px 10px 20px 10px;
}
li a {
    text-decoration: none;
    color: #fff;
}
li:hover {
    background-color: #636e72;
}

/*Sessão 1*/
#inicio {
    background: url(ImagensODS/Fundo.jpeg);
    background-size: cover;
    height: 100%;
    text-align: center;
    padding: 12%;
    line-height: 35px;
    color: #fff;
}
#inicio h1 {
    font-size: 50px;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 1%;
}
#inicio h2 {
    font-size: 28px;
    background-color: rgb(0, 0, 0, 0.6);
}
#inicio a {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #000;
    color: #fff;
    border-radius: 5px;
    background-color: #2d3436;
    padding: 15px 30px;
}
#inicio a:hover {
    background: #636e72;
}

/*Sessão 2*/
#projeto {
    padding: 30px;
    float: left;
    background-color: #f1f1f1;
}

/*Sessão 3*/
#metas {
    background: #f1f1f1;
    float: left;
    padding: 2% 0;
}
#metas img:hover {
    background: #dfe6e9;
    border-radius: 100%;
}
#metas img{
    height: 70px;
}

/*Sobre*/
#sobre {
    background: #f1f1f1;
    float: left;
    padding: 2% 0;
}

/*Outras estilizações*/
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}
.justificado {
    text-align: justify;
}
.centralizado {
    text-align: center;
}
.dois {
    width: 40%;
}
.quatro {
    width: 15%;
}

/*Rodapé*/
footer {
    background-color: #2d3436;
    float: left;
    width: 100%;
    color: #fff;
    padding: 4% 0px;
}

/*Responsividade*/
@media all and (max-width: 768px) {
    header {
        visibility: hidden;
    }
    #projeto, #metas, #sobre, .coluna {
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
    #inicio {
        padding-top: 120px;
    }
    #inicio a {
        padding: 2%;
    }
}